<h2>Authors Index</h2>

<%= link_to 'New Author', '/authors/new' %>

<% @authors.each do |author| %>
  <h3><%= link_to author.name, "/authors/#{author.id}" %></h3>
  <%= link_to "Edit #{author.name}", "/authors/#{author.id}/edit" %>
  <%= link_to "Delete #{author.name}", "/authors/#{author.id}", method: :delete %>
<% end %>
